.main {
    display: flex;
    
    justify-content: center;
    align-items: center;   
}
.button {
    width: 200px;
    height: 200px;
    border-style: solid;

}

#showInput {
    width: 200px;
    height: 50px;
}
#compInput {
    width: 200px;
    height: 50px;
}

#showWinner {
    width: 200px;
    height: 50px;
    border-style: solid;
    
}